* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
    --primery_text_color: #96BB7C;
    --secondary_text_color: #737373;
    --text_color: #252B42;
    --line_color: #E74040;
    --shadow_box:0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
button{
    cursor: pointer;
}
h1{
    font-size: 58px;
    color: var(--text_color);
}
h6 {
    color: var(--primery_text_color);
}

a {
    color: var(--secondary_text_color);
    text-decoration: none;
}

h4,
p {
    color: var(--secondary_text_color);
}
li {
    list-style: none;
}

h2,
h3 {
    color: var(--text_color);
}
h5{
    color: var(--text_color);
}

.section_colorbg {
    background-color: rgb(247, 208, 211);
    min-width: 100%;
}
.container {
    max-width: 1050px;
    margin: auto;
    padding: 0px 15px;
}
/* page 1 */
/* header */
.nav_bar {
    display: flex;
    align-items: center;
    padding:20px 70px 20px 0px;
    gap: 10px;
    position: relative;
}

.brandname {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    flex: 1;
    color: var(--text_color);
}

.nav_bar ul {
    display: flex;
    column-gap: 20px;
}
.nav_bar_links {
    flex: 2;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.login_li{
    display: none;
}
.butn{
    display: flex;
    align-items: center;
}

.transparent_btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--primery_text_color);
    margin-right: 45px;
    font-size: 14px;
    font-weight: 700;
}

.filled_btn {
    background-color: var(--primery_text_color);
    border: 2px solid var(--primery_text_color) ;
    color: white;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
button:hover{
    transition: 0.3s;
    box-shadow: var(--shadow_box);
}
button:active{
    opacity: 0.6;
}
.filled_btn:hover{
    opacity: 0.8;
}
.filled_btn:active{
    opacity: 0.6;
}
.transparent_btn:hover{
    text-decoration: underline;
}
.border_btn:hover{
    background-color: var(--primery_text_color);
    color: #FAFAFA;
}
a:hover{
    text-decoration: underline;
    color: #96BB7C;
}
/* dropdown */
ul.dropdown_content{
    min-width: 120px;
    position: absolute;
    left: 0;
    right: 20px;
    background-color: white;
    visibility: hidden;
    display: block;
    box-shadow: 0px 10px 10px 0px rgba(0,0,2,0.5);
    transition: all 400ms;
    margin-top: -15px;
    opacity: 0;
    overflow-x: auto;
    height: 100px;
}
.dropdown{
   position: relative;
}
.dropdown:hover ul.dropdown_content{
    visibility: visible;
    margin-top: 0px;
    opacity: 1;
}
.hamburger_menu, #checking{
    display: none;
}
/* banner page 1 */
.border_btn{
    background-color: transparent;
    border: 2px solid var(--primery_text_color);
    color: var(--primery_text_color);
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .butn{
    gap:10px;
}
.banner{
    display: flex;
    align-items: center;
    padding-bottom: 80px;
    justify-content: space-between;
}
.bannertext{
    padding: 80px 0px 80px 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 35px;
}
.bannertext h6{
    font-size: 16px;
}
.bannertext p{
    font-size: 20px;
    font-weight: 500;
}
.bannerimg{
    flex: 1;
}
.bannerimg img{
    width: 100%
}
/* instruction boxes */
.instruction_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 80px;
    margin-top: -100px;
    justify-content: center;
}
.instruction_box p{
    font-size: 14px;
}
.instruction_box h3{
    font-size: 24px;
}
.icon_circle{
    background-color:var(--line_color);
    width: 72px;
    height: 72px;
    border-radius: 36px;
}
.box{
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: var(--shadow_box);
    background-color: white;
}
.box_title{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box_title::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--line_color);
}
.box .material-symbols-outlined {
    font-size: 32px;
    color: white;
      font-variation-settings:
      'FILL' 1,
      'wght' 500,
      'GRAD' 200,
      'opsz' 48
    }
.icon_circle{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* status box */
.statusbox h1{
    color: var(--primery_text_color);
}
.statusbox h5{
    color: var(--text_color);
    font-size: 16px;
}
.statusbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 80px 0px;
    gap: 30px;
}
.status{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    row-gap: 10px;
}
.banner_client{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 160px 0px;  
}
.page_title{
    display: flex;
    flex-direction: column;
    max-width: 520px;
    row-gap: 35px;
}
.banner_client .page_title::before{
    content: " ";
    background-color: var(--line_color);
    width: 94px;
    height: 7px;
}
.page_title h2{
    font-size: 40px;
}
.page_title p{
    font-size: 14px;
    font-weight: 500;
}
.banner_client .page_title p{
    max-width: 350px;
}
.banner_button{
    color: var(--primery_text_color);
    display: flex;
    justify-content: start;
    align-items: center;
}
.banner_button h6{
    color: var(--primery_text_color);
    font-size: 16px;
}
.boyimage{
    flex: 1;
}
/* page 3 */
#coursepart img{
    max-width: 100%;
}
#coursepart{
    padding: 160px 0px;
}
.page_title_top h6{
 font-size: 14px;
}
.page_title_top{
    row-gap: 10px;
    margin-bottom: 80px;
}
/* frames */
.frame{
    background-color: white;
}
.coursedetails{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.product_cover{
    position: relative;
    text-align: center;
}
.product_cover_img{
    object-fit: cover;
    width: 100%;
}
.label{
    padding: 0px 10px;
    background-color: var(--line_color);
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}
.iconbutn{
    position: absolute;
    bottom: 24px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.iconbutn button{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visibility{
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 200,
  'opsz' 48
}
.rating .material-symbols-outlined {
    color: rgba(255, 206, 49, 1);
    font-size: 12px;
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 200,
  'opsz' 48
}
.coursedetails h6{
    font-size: 14px;
    max-width: 200px;
}
.rating{
    background-color: var(--text_color);
    color: white;
    padding: 5px;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.frame_heads{
    padding: 25px;
    display: flex;
    flex-direction:column;
    gap: 10px;
}
.frame_heads_top{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.frame_heads h5{
    font-size: 16px;
}
.frame_heads p{
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
}
.sales_count{
   display: flex;
   align-items: center;
   column-gap: 10px;
}
.sales_count h6{
    color: var(--secondary_text_color);
    font-size: 14px;
}
.sales_count .material-symbols-outlined {
    color: var(--secondary_text_color);
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 200,
  'opsz' 48
}
.span_price{
    color: #FFAB71;
}
.price{
    color: var(--secondary_text_color);
    padding: 10px 0px;
}
.frame .border_btn{
    padding: 10px 20px;
    border-radius: 40px;
}

/* page 4 */
#review_banner{
    padding: 160px 0px;
}
/* cards */
.card_content .material-symbols-outlined {
    color: rgba(243, 205, 3, 1);
    font-size: 18px;
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 200,
  'opsz' 48
}
.card_content .material-symbols-outlined:nth-child(5){
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 200,
  'opsz' 48
}
.review_cards{
    display:grid ;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}
.card{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card_content{
    padding: 30px;
    text-align: center;
}
.card_content p{
    max-width: 180px;
}
.star_rating{
    margin-bottom: 15px;
}
.reviewer{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.reviewer h5{
    color: var(--primery_text_color);
}
.reviewer h6{
    color: var(--text_color);
}
/* page 5 */
#team_leaders{
    padding: 112px 0px;
}
#team_leaders .page_title{
    row-gap: 10px;
    margin-bottom: 112px;
}
.team_leaders_card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.leader_img{
    border-radius: 30px 30px 0px 0px;
}
.leader_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--shadow_box);
    border-radius: 30px;
}
.leader_card .card_content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.social_media_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.card_content small{
    color: var(--secondary_text_color);
}
/* Page 6 */
#cta_section{
    padding: 160px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cta_section .page_title{
    row-gap: 10px;
    margin-bottom: 80px;
    justify-content: center;
    max-width: 400px;
    text-align: center;
    align-items: center;
}
.cta_searchbox{
    width: 60%;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 5px;
}
.cta_searchbox:hover{
    border: 1px solid rgb(191, 191, 191);
    box-shadow: var(--shadow_box);
}

.search{
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    border: none;

}
.search::placeholder{
    padding-left: 20px;
    color: var(--secondary_text_color);
}
.cta_searchbox .filled_btn{
   border: 1px solid rgba(230, 230, 230, 1);
   border-radius: 0px 4px 4px 0px;
}
/* Page 7 footer */
#footer{
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
}
.contact_info .contact_block{
    display: flex;
    flex-direction: row;
    align-items:center ;
    column-gap: 10px;
}
.info .contact_block:nth-child(4) .material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.info .material-symbols-outlined{
    color: var(--primery_text_color);
}
.footer_tail{
    background-color:#FAFAFA;
}
.footer_tail h6{
    color: var(--secondary_text_color);
}
.tail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    gap: 20px;
}